@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #353535;
}

body {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

#left-container {
    width: 52%;
    margin-bottom: 20px;
}

#right-container {
    width: 45%;
    padding-top: 85px;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

#self {
    font-size: 12px;
    color: #8C857D;
    margin-bottom: 24px;
}

#note {
    font-size: 12px;
    font-weight: 400;
}

span.arrow {
    font-size: 20px;
}

p {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 40px;
    margin-bottom: 25px;
    padding-left: 4px;
    border-radius: 5px;
}

.desc {
    font-size: 12px;
    font-weight: 400;
}

#button-container {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.btn.submit, .btn.remove, .btn.cassi, .btn.copy, .btn.clear {
    width: 150px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn.submit {
    background-color: #09814A;
}

.btn.remove {
    font-size: 16px;
    background-color: #FF4365;
}

.btn.cassi {
    font-size: 16px;
    background-color: #48B8D0;
}

.btn.submit:hover {
    background-color: #0DBF6F;
}

.btn.remove:hover {
    background-color: #FF99AC;
}

.btn.cassi:hover {
    background-color: #9ED9E6;
}

#copy-clear-container {
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.btn.copy, .btn.clear {
    height: 30px;
    background-color: #564D4A;
    font-size: 16px;
}

.btn.clear {
    background-color: #861657;
}

.btn.copy:hover {
    background-color: #988A86;
}

.btn.clear:hover {
    background-color: #E250A5;
}

h3 {
    font-weight: 400;
}

.acs-citation {
    font-weight: 400;
    margin-bottom: 12px;
}

span {
    font-style: italic;
}

span.span-year {
    font-style: normal;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    body {
        flex-direction: column;
        justify-content: space-between;
    }
    #left-container {
        width: 100%;
    }

    #right-container {
        width: 100%;
        padding-top: 0;
    }
}